@page
@model IdentityFramework1_FrankLiu.Pages.HRManagerModel
@{
}


<div>
    <h1>HR Manager</h1>


    <table class="table table-bordered table-striped">
        <thread>
            <tr>
                <td>Date</td>
                <td>Temp C</td>
                <td>Temp F</td>
                <td>Summary</td>
            </tr>
        </thread>
        <tbody>
            @foreach (var item in Model.WeatherForecastItems)
            {
                <tr>
                    <td>@item.Date</td>
                    <td>@item.TemperatureC</td>
                    <td>@item.TemperatureF</td>
                    <td>@item.Summary</td>
                </tr>
                
            }
        </tbody>
    </table>
</div>